<!doctype html>
<html lang="en-US">
<head>
{{> ../partials/meta}}
    <title>Christopher Leggett</title>
    <meta name="description" content="">
</head>
<body>
    <div id="app">console</div>
</body>
</html>
