<!doctype html>
<html lang="en-US">
<head>
{{> ../partials/meta}}
    <title>Secret Santa</title>
    <meta name="description" content="">
</head>
<body class="secret-santa">
    <div id="secret-santa-app"></div>
</body>
</html>
