{
    "backend-s3-bucket": "<bucket-name>",
    "backend-archive-name": "<archive-name>",
    "backend-files": ["<files...>"],
    "backend-build-dir": "<build-dir>",
    "frontend-s3-bucket": "<bucket-name>",
    "frontend-build-dir": "<build-dir>",
    "frontend-content-watch-files": ["<files...>"],
    "frontend-content-root-dir": "<dir-name>",
    "frontend-code-files": ["<files...>"],
    "frontend-code-entry-file": "<file-name>",
    "frontend-code-build-dir": "<dir-name>",
    "profile": "<aws-cli-profile>",
    "stack-name": "<cloudformation-stack-name>"
}
