{
    "backend-s3-bucket": "christopherleggett.info-backend",
    "backend-archive-name": "christopherleggett.info",
    "backend-files": [
        "package.json", "package-lock.json", "code-backend/src/main/**"
    ],
    "backend-build-dir": "temp/build/code-backend",
    "frontend-s3-bucket": "christopherleggett.info",
    "frontend-build-dir": "temp/build/code-frontend/root",
    "frontend-content-watch-files": ["content/**", "!**/.DS_Store"],
    "frontend-content-root-dir": "content/root",
    "frontend-code-files": ["code-frontend/src/main/**", "!**/.DS_Store"],
    "frontend-code-entry-file": "code-frontend/src/main/App.jsx",
    "frontend-code-build-dir": "js",
    "frontend-styles-build-dir": "css",
    "frontend-config": "{\"host\":\"http://localhost:3000\"}",
    "profile": "admin",
    "stack-name": "christopherleggett-info-stack"
}
